.background {
    z-index: -1;
    position: absolute;
    top: 70px;
    bottom: 0; left: 0; right: 0;
}

.title {
    position: static;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    justify-content: space-around;
    color: white;
    text-shadow: 3px 3px 5px blue;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.img {
    width: 100%;
    height: 100%;
}

.start {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: black;
    height: 40px;
    margin: auto;
}

.startbtn {
    width: fit-content;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    background-image: linear-gradient(black, blue);
    color: white;
    font-size: 20px;
    border: 3px solid;
    border-color: white;
    border-radius: 8px;
}

.startbtn:hover {
    transform: scale(1.2,1.2);
}

.resultDisplay {
    position: absolute;
    top: 270px;
    left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    font-size: 50px;
    height: fit-content; 
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    background-image: linear-gradient(black, blue 25%, blue 75%, black 100%);
}


/* card formatting */
        .cardBtns {
            width: fit-content;
            height: fit-content;
            background-color: darkblue;
            margin-left: 3px; margin-right: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
        }

        .cardBtns:hover {
            background-color: yellow;
        }

        .straight, .straightComp {
            display: inline-block;
            max-height: 100%;
            text-shadow: teal 3px;
            margin: 3px;
            padding: 0;
            position: static;
        }

        .straight {
            max-width: 70px;
        }

        .straightComp{
            border: 2px solid;
            border-color: white;
            border-radius: 5px;
            max-width: 60px;
        }

        .cards{
            max-width: fit-content;
        }

        .tilt, .tilt1 {
            max-width: 100%;
            max-height: 100px;
            transform: skewX(55deg);
            transform: rotateX(55deg);
        }

        .fieldc, .fieldc1 {
            max-width: 85px;
            align-content: center;
            background-color: transparent;
        }

/* field block */
        .fieldblock, .computerblock, .playerblock {
            display: flex;
            align-items: center;
            border-bottom: 5px solid;
            color: white;
            height: fit-content;
            padding: 10px;
        }

        .fieldblock {
            /* background-image: linear-gradient(black, yellow); */
            height: 200px;
        }

        .field {
            position: static;
            margin-right: auto;
            margin-left: auto;
            display: block;
            align-items: center;
            text-align: center;
            height: fit-content;
        }

        .fieldlabel, .playerlabel, .complabel {
            position: absolute;
            left: 5PX;
            width: 160px;
            font-size: 25px;
            color: white;
            display: flexbox;
            text-align: center;
            margin-left: 10px;
            text-shadow: 5px 5px 5px darkblue;
        }

        .fieldHand, .playersHand1, .computerHand1, .fieldHand1 {
            margin-left: auto;
            margin-right: auto;
            display: inline-flex;
            align-items: center;
            max-width: 650px;
            height: fit-content;
        }

        .fieldScore, .computerScore, .playerScore {
            position: absolute;
            right: 5PX;
            width: 160px;
            display: flexbox;
            text-align: center;
            margin-right: 10px;
            font-size: 30px; color: white;
        }


@media screen and (max-width: 1100px) {
    .title {
      font-size: 50px;
    }
}
@media screen and (max-width: 1000px) {
    .title {
        font-size: 37px;
        font-family: "Times New Roman", Times, sans-serif;
    }
    .fieldHand, .fieldHand1 {
        max-width: 400px;
    }

    .fieldlabel, .playerlabel, .complabel, .fieldScore, .computerScore, .playerScore, .field {
        font-size: 18px;
        position: static;
        margin-left: auto; margin-right: auto;
        height: fit-content;
        width: fit-content;
        display: flexbox;
        justify-content: center;
        align-items: center;
        margin: none;
        padding: none;
    }

    .fieldlabel, .playerlabel, .complabel {
        margin-bottom: 10px;
    }

    .fieldblock, .computerblock, .playerblock {
        display: block;
        position: static;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
        height: 25vh;
    }

    .playersHand1, .computerHand1 {
        max-width: 93vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fieldHand1, .tilt1, .tilt, .fieldHand {
        max-width: 93vw;
        height: 68px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fieldHand, .fieldHand1 {
        margin: -15px;
    }

    .straight {
        max-width: 42px;
    }
}